.form-group
  label(for="fullname") Full name
  input#fullname.form-control(name="fullname", type="text")
.form-group
  label(for="job") Job
  input#job.form-control(name="job", type="text")
.form-group
  label(for="nickname") Nickname
  input#nickname.form-control(name="nickname", type="text")
.form-group
  label(for="email") Email
  input#email.form-control(name="email", type="email")
