extends layout

block content
  .row
    .col-md-6
      h1 Edit contact
      form(role="form", method="post", action="/contacts/#{contact.id}?_method=put")
        include edit-form
        button.btn.btn-primary(type="submit") Edit User
    .col-md-6
      h2 Notes
      if contact.notes
        dl
          each note in contact.notes
            dt Added #{moment(note.postedDate).fromNow()}
            dd= note.note
            br
      form(role="form", method="post", action="/contacts/#{contact.id}")
        .form-group
          label(for="notes") Add a note
          textarea#notes.form-control(name="notes")
        button.btn.btn-default(type="submit", value="addNote") Add Note
      
        
  
